<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>NSCameraUsageDescription</key>
					<string>Accessing Camera</string>
					<key>NSLocalNetworkUsageDescription</key>
					<string>Your description of why you need access to local network</string>
					<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
					<string>Application requires user’s location for better user experience.</string>
					<key>NSLocationAlwaysUsageDescription</key>
					<string>Application requires user’s location for better user experience.</string>
					<key>NSLocationWhenInUseUsageDescription</key>
					<string>Application requires user’s location for better user experience.</string>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
					<key>com.apple.developer.networking.HotspotConfiguration</key>
					<true/>
					<key>com.apple.developer.networking.wifi-info</key>
					<true/>
					<key>com.apple.external-accessory.wireless-configuration</key>
					<true/>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
